@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 0.5s infinite;
}

@layer base {
  :root {
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Figtree', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .light {
    color-scheme: light;
    --background: #FFFFFF;
    --background-alt: #F2F1F8;
    --background-landing-alt: #F5F3EB;
    --background-card-violet: #613DAD;
    --background-card-navy-blue: #2F4364;
    --text: #2A1A4C;
    --primary-text: #2A1A4C;
    --text-special: #422E6C;
    --text-muted: #6B7280;
    --text-landing-violet: #7850CD;
    --text-landing-yellow: #FFFA72;
    --primary: #3B82F6;
    --primary-hover: #2563EB;
    --accent: #10B981;
    --error: #EF4444;
    --violet: #7850CD;
    --card: #D6D6D6;
    --sun: #FFDC17;
    --moon: #758ABA;
    --orange: #FFC400;
    --orange2: #FF7373;
    --green: #E0FF79;
    --green2: #4B9154;
    --blue: #C8FAFF;
    --navy-blue: #253858;
    --violet-light: #F9F6FF;
    --violet-light-circle: #EAE0FF;
  }

  .dark {
    color-scheme: dark;
    --background: black;
    --background-alt: #2D2D2D;
    --background-landing-alt: #F5F3EB;
    --background-card-violet: #613DAD;
    --background-card-navy-blue: #2F4364;
    --text: #FFFFFF;
    --primary-text: #2A1A4C;
    --text-special: #F6FFB5;
    --text-muted: #9CA3AF;
    --text-landing-violet: #7850CD;
    --text-landing-yellow: #FFFA72;
    --primary: #1D4ED8;
    --primary-hover: #2563EB;
    --accent: #059669;
    --error: #DC2626;
    --violet: #7850CD;
    --card: #FFFFFF;
    --sun: #FFDC17;
    --moon: #758ABA;
    --orange: #FFC400;
    --orange2: #FF7373;
    --green: #E0FF79;
    --green2: #4B9154;
    --blue: #C8FAFF;
    --navy-blue: #253858;
    --violet-light: #C2A4FF;
    --violet-light-circle: #EAE0FF;

  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.dark {
  --foreground: #FFFFFF;
  background: black;
  --primary: #1D4ED8;
  --primary-hover: #3B82F6;
}

.light {
  --foreground: #000000;
  background: #FFFFFF;
  --primary: #3B82F6;
  --primary-hover: #1D4ED8;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Minimal-width scrollbar */
.scrollbar-minimal {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #DADADA transparent;
  /* Thumb and track colors */
}

.scrollbar-minimal::-webkit-scrollbar {
  width: 2px;
  /* Width of the scrollbar for vertical scroll */
  height: 4px;
  /* Height of the scrollbar for horizontal scroll */
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  /* Thumb color */
  border-radius: 8px;
  /* Rounded corners for thumb */
}

.scrollbar-minimal::-webkit-scrollbar-track {
  background: transparent;
  /* Transparent track */
}


.blur {
  filter: blur(4px);
}

/* White */
.filter-white {
  filter: brightness(0) invert(1);
}

/* #7850CD (Purple) */
.filter-purple {
  filter: invert(44%) sepia(36%) saturate(7476%) hue-rotate(243deg) brightness(94%) contrast(92%);
}
